{% extends "base.html" %}

{% block body %}
<table class="table table-striped">
  <thead>
    <th>Number</th>
    <th>Name</th>
  </thead>
  <tbody>
  {% for item in data %}    
    <tr>
      <td>{{ item[1] }}</td>
      <td><a href="/track/{{item[0]}}">{{ item[2] }}</a></td>
    </tr>
   
{% end %}
{% end %}
