{% extends "base.html" %}


{% block body %}
{% for artist_id, name, image in data %}
<div class="row">
{% for item in data %}

        <div class="col-sm-3">
            <a href="/{{ prefix }}/{{ item[0] }}" class="thumbnail text-center">
                <img src={{ item[2] }}>
                <div class="caption">
                    <h4>{{ item[1]}}</h4>
                </div>
            </a>
        </div>




{% end %}
</div>
{% end %}
