{% extends "base.html" %}

{% block body %}

<h1>
    <a href="#top"><img src = https://www3.nd.edu/~pbui/teaching/cdt.30020.sp16/static/img/project01/rpi14.png ></a>
</h1>

<p>
Welcome to <b>SearchIt</b>, a simple music database powered by <a
    href="http://www.tornadoweb.org/">Tornado</a> and <a
    href="http://www.sqlite.org/">SQLite</a>.
</p>

<ul>
    <li>
        Andrew Russell
    </li>
    <li>
        Patti Song
    </li>
</ul>
{% end %}
