{% extends "base.html" %}

{% block body %}
{% for item in data %}
    <dl>
        <dt>Track ID</dt>
        <dd>{{ item[0] }}</dd>

        <dt>Artist</dt>
        <dd><a href="/artist/{{ item[1] }}">{{ item[2] }}</a></dd>

        <dt>Album</dt>
        <dd><a href="/album/{{ item[3] }}">{{ item[3] }}</a></dd>

        <dt>Track Number</dt>
        <dd>{{ item[5] }}</dd>

        <dt>Track Name</dt>
        <dd>{{ item[6] }}</dd>
    </dl>
{% end %}
{% end %}
