#header {
    background-color:#000099;
    color:white;
    text-align:center;
    text-decoration: none;
    padding:5px;
    font-family:'Conv_Archer-Bold-Pro';
}

#nav {
    line-height:30px;
    background-color:white;
    color:navy;
    height:100px;
    width:100px;
    float:left;
    text-decoration: none;
    padding:5px;
}

#section {
    width:1100px;
    background-color:white;
    float:left;
    text-align: center;
    padding:10px;
    text-decoration: none;
    border:4px solid #FFFFFF;

}

#footer {
    background-color:navy;
    color:white;
    clear:both;
    text-align:center;
    text-decoration: none;
    padding:5px;
}

/* Sets top padding for fixed navigation bar */
body {
    padding-top: 140px;
    text-decoration: none;
}

/* Sets sets song information color */

/* Sets playlist cell vertical alignment */
.table > tbody > tr > td {
    vertical-align: middle;
    text-decoration: none;
}


h1 {
    color: white;
    font-family:'Conv_Archer-Bold-Pro';
    font-size: 3em;
    text-align: right;
}

#notebook-body-nav {
    font-family: 'Conv_ufonts.com_gotham-book-1-opentype';
    text-decoration: none;
}

.nav-tabs {
    font-family: 'Conv_ufonts.com_gotham-book-1-opentype';
}

a {
    font-family: 'Conv_ufonts.com_gotham-book-1-opentype';
    color: #3399ff;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
}

a:hover {
    color: #424242;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
}

.form-control:focus {
    border-color: #3399ff;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active{border-color:#3399ff;}
